body {
    text-align: center;
    font-family: 'Black Ops One', cursive;
    font-size: 16px;
}

#container {
    position: relative;
    width: 505px;
    margin-right: auto;
    margin-left: auto;
    font-size: 25px;
}

.over {
    display: none;
    position: absolute;
    z-index: 2;
    width: 505px;
    height: 606px;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}
